@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
    background-color: rgba(238, 238, 255, 1);
}

.nav-point > * > a, .nav-point > a {
    cursor: pointer;
}

.logo-text {
    color: white !important;
    font-weight: bolder;
}

footer  {
    margin-top: 20px;
    /* padding-top: 20px; */
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 200, 0.2), 0 6px 20px 0 rgba(0, 0, 200, 0.19);
}

.text-shadow {
    text-shadow: 1px 1px 2px #000040;;
}

.center-form {
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    /* padding-bottom: 5rem; */
}

.profile-post {
    height: 25vw;
     width: 25vw;
}

/*  MAINLY HOMEPAGE     */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -290px;
  }


  .home-image {
      /* float: left; */
      /* border-radius: .25rem; */
      /* padding-top: 0.4rem; */
      /* padding-right: 1rem; */
  }

  .home-card {
    float: left;
  }

  .curly {
    font-family: 'Leckerli One', cursive;
    font-size: 1.7rem;
    text-align: center;
  }

  .share {
    margin-top: 1.7rem;
    margin-bottom: 2.5rem;
  }

  .reg-log-btn {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .btns {
    flex: 1;
    margin: 3px;
  }

.post-card {
    /* max-height: 25vw; */
    width: 25vw;
}

.clickable {
    cursor: pointer;
}

.profile-photo {
    /* height: 20vw; */
    height: 25vw;
}

.bio-box {
    height: 20vw;
    overflow: hidden;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.fit-img{
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  /* height: 300px; only if you want fixed height */
}

.post-header {
  height: 5vw;
}

.post-photo {
  height: 20vw;
  width: 20px;
}